[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sierrapy = {editable = true,path = "."}
mypy = "*"
twine = "*"

[packages]
gql = "*"
graphql-core = "*"
promise = "*"
requests = "*"
six = "*"
tqdm = "*"
click = "*"
voluptuous = "*"
more-itertools = "*"
requests-toolbelt = "*"

[requires]
python_version = "3.11"
